PORT=10000
NODE_ENV=production
MONGODB_URI=mongodb://test-user:test-pwd@ac-1jg7mhj-shard-00-00.3rb24eh.mongodb.net:27017,ac-1jg7mhj-shard-00-01.3rb24eh.mongodb.net:27017,ac-1jg7mhj-shard-00-02.3rb24eh.mongodb.net:27017/queijaria-corp?ssl=true&authSource=admin&retryWrites=true&w=majority&directConnection=true